.header{
    display: flex;
    align-items: center;
}
.discount{
 color: red;
 text-align: center;
}
.party-time{
text-align: center;
}
.holyday{
 text-align: center;
 margin: 100px 0px 0px 0px;
}
.color{
    margin: 0px 500px 20px 500px ;
background-color: rgb(201, 113, 130);
text-align: center;
text align 0px;;
}
.but{
background-color: red;
color: white;
padding: 10px;
border: 10px;
margin: 0px 0px 100px 0px;



}
.Rectangle{

   display: flex;
   height: 400px;
   width: 300px;
   padding: 0px 500px;
}
.red{

    width: 90px;
height: 229px;
padding:

}
